@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

:root{
    --black : #1C232B;
    --grey : #6C7289;
    --cream : #F2EAE2;
    --white : #FFFFFF;
    --light-green : #3D8168;
    --dark-green : #1A4032;
}

* {
    margin: 0;
}

body{
    overflow-x: hidden;
    height: 100vh;
    background-color: var(--cream);
}



.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

.image{
    width: 18.75rem;
    height: 28.5rem;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.info {
    margin: 0;
    background-color: var(--white);
    width: 236px;
    height: 392px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 16px;
}

.desc-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.category {
    font-size: .75em;
    line-height: 120%;
    letter-spacing: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: var(--grey);
}

.title {
    font-family: "Fraunces", serif;
    font-size: 2em;
    line-height: 110%;
    color: var(--black);
}

.desc {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: var(--grey);
    line-height: 160%;
}

.price-container {
    display: flex;
    gap: 16px;
    align-items: center;
}

.acc-price {
    font-family: "Fraunces", serif;
    font-size: 2em;
    color: var(--light-green);
}

.markdown {
    text-decoration: line-through;
    font-size: 13px;
    line-height: 120%;
    color: var(--grey);
}

.purchase {
    padding: 16px 32px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-green);
    color: var(--white);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    gap: 8px;
    transition: 0.3s;
}

.purchase:hover{

    background-color: var(--dark-green);
}

@media (max-width: 768px){
    .container {
        flex-direction: column;
        padding: 0;
        margin: 0;
        gap: 0;
        border: none;
    }

    .image, picture {
        width: 350px;
        height: 300px;
        border-radius: 0;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .info {
        margin: 0;
        border-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        width: 286px;
        height: 344px;
        line-height: 1;
    }

}